.App {
  text-align: center;
}

.background {
  background-color: rgb(235, 235, 212);
  background-size: cover;
  height: 92vh;
  overflow: hidden; 
}

.navbar {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
}

.eachDish {
  padding-left: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.formSign {
  width: 800px;
  align-items: center;
}

.containerFoodOrder {
  margin: 20px 20px 50px;
}

.eachRestMenu {
  font-size: 20px;
}

.myRestaurants {
  padding-left: 150px;
  width: 650px
}

.profile-restaurant {
  padding-left: 200px;
}

.owner-restaurant-container{
  margin-top: 30px;
}

.searchForm {
  padding: 100px 20px 20px 20px;
  width: 800px;
  display: flex;
}

.carousel {
  padding-top: 50px;
  
}

.logoHome {
  padding: 50px 20px 20px 20px;


}

.selectCity {
  font-size: 80px;
}

.buttonOwner {
  margin: 5px;
}

.owner-my-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.owner-restaurant-name {
  padding-top: 5px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  color: gray;
}

.owner-restaurant-buttons {
  display: flex;
  justify-items: flex-end;

}

.button-container {
  width: 80px;
  height: 40px;

}

.owner-restaurant-container {
  width: 800px;
  margin-left: 400px;

}

.editRestaurant {
  width: 800px;
  margin-left: 400px;
}

.restaurant-list {
  width: 800px;

}

.editMenu {
  width: 800px;
  margin-left: 400px;

}
.buttonDelete {
  color: red;
}

.buttonUpdate {
  color: green
}

.formLabelSize {
  font-size: large;
  font-weight: bold;
}

.buttonHideShow {
  border-radius: 10px;
  background-color: black;
  color: green;
  margin-left: 5px;
}

.buttonFoodOrder {
  border: none;
  width: 120px;
  height: 30px;
  margin: 5px;
  background-color: lightsteelblue;
  border-radius: 10px;
}


.containerHideShow {
  border-radius: 10px;
  background-color: grey;
}