.App {
  text-align: center;
}

.navbar {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
}

.eachDish {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
}

.formSign {
  width: 800px;
  align-items: center;
}

.myRestaurants {
  padding-left: 150px;
  width: 650px
}

.profile-restaurant {
  padding-left: 200px;
}

.owner-restaurant-container{
  margin-top: 30px;
}

.select-city {
  padding: 10px 20px 20px 20px;
}

.select-city-button {
  padding-left: 2px;
}

